body{
	font-size:16px;
	font-family:'Arial';
	margin:0;
	padding:0;
}
h1{
	font-size:1.7em;
	padding:0;
	line-height: 1.4em;
	margin:0;
}
.type-category{
	display:none;
}
.header{
	border-bottom:1px solid #ccc;
	padding:10px 20px;
}
.buttons{
	float:right;
	margin:0;
}
.button{
	border:0;
	padding:10px 20px;
	border-radius:3px;
	background:#3e87cb;
	color:#fff;
	font-size:15px;
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
}
.button:hover{
	background-color:#3e94e5;
}
.form-add-new-product{
	padding:15px 20px;
	
}
form label{
	display:block;
	margin:15px 0 3px 0;
	font-weight:600;
}
form input[type="text"], form select{
	padding:10px 15px;
	border:1px solid #ccc;
	border-radius:3px;
	width:400px;
	max-width:100%;
	font-size:16px;
	box-sizing:border-box;
}
.note{
	color:#999;
	font-size:0.9em;
}
.error{
	text-align:left;
	padding:20px 0;
	color:red;
}
.error a{
	display:block;
	margin-top:10px;
}
.notifications{
	display:block;
	text-align:center;
}
.notifications .err, .notifications .ok{
	padding:15px;
	border:1px solid;
	border-radius:5px;
	display:inline-block;
	text-align:left;
}
.notifications .err{
	color:red;
}
.notifications .ok{
	color:green;
}


.product-list{
	padding:0;
	margin:0;
	font-size:0;
	margin:25px 0;
}
.product-list li{
	display:inline-block;
	border:2px solid #eee;
	border-radius:5px;
	padding:20px;
	width:250px;
	height:200px;
	vertical-align:top;
	font-size:16px;
	margin:0 10px 20px 10px;
	text-align:center;
}
.sku{
	color:#999;
	font-size:0.9em;
}

.name{
	font-weight:600;
	font-size:1.2em;
}
.product-list li input[type="checkbox"]{
	float:left;
}
#bulk-delete-button{
	display:none;
}